/* Estilo para el contenedor del sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: -250px; /* Oculta el sidebar fuera de la vista por defecto */
    width: 250px;
    height: 100%;
    background: linear-gradient(135deg, #8E44AD, #34495E); /* Fondo degradado entre Violeta Oscuro y Gris Oscuro */
    color: #ECF0F1; /* Blanco Suave para el texto */
    transition: left 0.3s ease, background 0.3s ease; /* Transición suave al abrir/cerrar */
    padding-top: 20px;
    z-index: 1000;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5); /* Sombra para dar un efecto elevado */
}

/* Estilo cuando el sidebar está abierto */
.sidebar.open {
    left: 0; /* Muestra el sidebar */
}

/* Estilo para los enlaces del menú */
.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar-menu li {
    padding: 15px 20px;
    text-align: left;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2); /* Separador entre elementos */
}

.sidebar-menu li a {
    color: #ECF0F1; /* Blanco Suave para el texto */
    text-decoration: none;
    font-weight: bold;
    display: block;
    transition: background 0.3s ease, color 0.3s ease;
    border-radius: 5px;
}

.sidebar-menu li a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo semi-transparente en hover */
    color: #223834; /* Cian Claro para el texto en hover */
}

/* Botón para abrir/cerrar el sidebar */
.sidebar-toggle {
    position: absolute;
    top: 20px;
    right: -60px; /* Posiciona el botón justo fuera del sidebar */
    background-color: #000000; /* Cian Claro como fondo llamativo */
    color: #ECF0F1; /* Blanco Suave para el icono */
    border: none;
    padding: 20px; /* Hacer el botón más grande */
    cursor: pointer;
    transition: right 0.3s ease, background-color 0.3s ease;
    font-size: 24px; /* Tamaño de fuente más grande para el icono */
    border-radius: 50%; /* Forma circular para el botón */
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3); /* Sombra para el botón */
}

.sidebar.open .sidebar-toggle {
    right: -70px; /* Ajusta la posición cuando el sidebar está abierto */
}

.sidebar-toggle:hover {
    background-color: #411c4d; /* Rosa Suave en hover */
    color: #ECF0F1; /* Blanco Suave para el icono en hover */
}